* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

body {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.form-window {
    display: none;
}

.book-container {
    background-color: aquamarine;
}

.book {
    background-color: pink;
    border: 1px solid red;
}
