* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

.form-window {
    display: none;
}

.book-container {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.book {
    background-color: pink;
    border: 1px solid red;
}
